<%- include('./partials/header.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="lost content">
    <% if (messages.error) { %> <%= messages.error %> <% } %>
    <h1>PG Family Name Search</h1><br>
    <form class="example" action="/pg_fam/search" method="GET">
      <input type="text" placeholder="Search.." name="search" />
      <button type="submit"><i class="fa fa-search"></i>Search</button>
    </form>
    <button><a class="example" href="/pg_census">&#8592 Back</a></button>

    <br />
    <br />
    <%- include('./partials/footer.ejs') %>
  </div>
</body>
